In [98]:
import pandas as pd

In [99]:
# загружаем файл
df = pd.read_csv('milk_promo_sales.csv')
# сортируем по магазину и периодичности
data = df.sort_values(by=['store_id','period_id'])
data.head()

        store_id  period_id  sales_volume
724224   4168621        191          2.25
216520   4168621        192          6.35
175105   4168621        193          7.05
699084   4168621        194          2.50
780957   4168621        195          1.70

In [100]:
# переносим в более удобный и быстрый формат
dat=data.to_dict('records')

In [101]:
# переносим в lists
period_id=[]
sales_volume=[]
store_id=[]

for i in dat:
    period_id.append(i['period_id'])
    store_id.append(i['store_id'])
    sales_volume.append(i['sales_volume'])
    
# добавляем элемент, которого бы недоставало для самовычета
period_id.insert(0, period_id[0])
print(period_id[:10])

[191, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [102]:
# total_period_count подсчитывает общее число промопериодов
# promo_count добавляет в list продолжительность промопериодов для подсчета медианы
total_period_count=0
promo_count=0

# для визуализации как в примере
Number_of_promo_periods=[]
Duration=[]

# сам подсчет
for i in range(len(period_id)-1):
    if (period_id[i+1] - period_id[i])!=1:
        promo_count=0
        total_period_count+=1
        Number_of_promo_periods.append(total_period_count)
        Duration.append(promo_count)
    else:
        promo_count+=1
        Number_of_promo_periods.append('')
        Duration.append(promo_count)

# добавление в базу
data['Number_of_promo_periods']=Number_of_promo_periods
data['Duration']=Duration

#Задание 1. Ответ:
print("total_period_count:"+str(total_period_count))

total_period_count:140972

In [103]:
# подсчет медианы продолжительности промопериода
import statistics

med=[]

for i in range(len(sales_volume)-1):
    if (Duration[i+1] - Duration[i])==1:
        continue
    else:
        med.append(Duration[i])

med.append(Duration[-1])

#Задание 2. Ответ:
task2_med=int(statistics.median(med))
print("task2_med:"+str(task2_med))

task2_med:2

In [109]:
# Считаем продажи за отдельный промоперид
period_total_sales=[]
sale_count=0
for i in range(len(sales_volume)-1):
    if (Duration[i+1] - Duration[i])==1:
        period_total_sales.append('')
        sale_count+=sales_volume[i]
        continue
    else:
        sale_count+=sales_volume[i]
        period_total_sales.append(sale_count)
        sale_count=0
period_total_sales.append(op+sales_volume[-1])
data['period_total_sale']=period_total_sales
data.head(25)

,store_id,period_id,sales_volume,Number_of_promo_periods,Duration,period_total_sale
724224,4168621,191,2.25,1,0,
216520,4168621,192,6.35,,1,
175105,4168621,193,7.05,,2,
699084,4168621,194,2.50,,3,
780957,4168621,195,1.70,,4,
403579,4168621,196,4.75,,5,
385893,4168621,197,4.90,,6,
415417,4168621,198,4.70,,7,
106273,4168621,199,10.00,,8,
493167,4168621,200,4.10,,9,
683860,4168621,201,2.60,,10,
73777,4168621,202,14.80,,11,
599425,4168621,203,3.30,,12,
137835,4168621,204,8.15,,13,
296985,4168621,205,5.50,,14,
548164,4168621,206,3.70,,15,86.35
296984,4168621,208,5.50,2,0,
453535,4168621,209,4.40,,1,9.9
336839,4168621,211,5.25,3,0,
630290,4168621,212,3.05,,1,
385922,4168621,213,4.90,,2,
679706,4168621,214,2.65,,3,15.85
485940,4168621,216,4.15,4,0,
387863,4168621,217,4.85,,1,
329809,4168621,218,5.30,,2,

In [124]:
# Медиана По количеству промопериодов в одном магазине
q_med_table=[]
q_med=[]
q_med_count=0

for i in range(len(store_id)-1):
    if (store_id[i+1]-store_id[i]) == 0:
        if (period_id[i+1]-period_id[i]) == 1:
            q_med_table.append('')
        else:
            q_med_count+=1
            q_med_table.append('')          
    else:
        q_med_count+=1
        q_med_table.append(q_med_count)
        q_med.append(q_med_count)
        q_med_count=0
        continue

q_med_table.append(q_med_count+1)
data['Per_Store_Q_med']=q_med_table

#Задание 4. Ответ:
task4_med=int(statistics.median(q_med))
print("task4_med:"+str(task4_med))

task4_med:7

In [125]:
data.head(50)

,store_id,period_id,sales_volume,Number_of_promo_periods,Duration,period_total_sale,Per_Store_Q_med
724224,4168621,191,2.25,1,0,,
216520,4168621,192,6.35,,1,,
175105,4168621,193,7.05,,2,,
699084,4168621,194,2.50,,3,,
780957,4168621,195,1.70,,4,,
403579,4168621,196,4.75,,5,,
385893,4168621,197,4.90,,6,,
415417,4168621,198,4.70,,7,,
106273,4168621,199,10.00,,8,,
493167,4168621,200,4.10,,9,,
683860,4168621,201,2.60,,10,,
73777,4168621,202,14.80,,11,,
599425,4168621,203,3.30,,12,,
137835,4168621,204,8.15,,13,,
296985,4168621,205,5.50,,14,,
548164,4168621,206,3.70,,15,86.35,
296984,4168621,208,5.50,2,0,,
453535,4168621,209,4.40,,1,9.9,
336839,4168621,211,5.25,3,0,,
630290,4168621,212,3.05,,1,,
385922,4168621,213,4.90,,2,,
679706,4168621,214,2.65,,3,15.85,
485940,4168621,216,4.15,4,0,,
387863,4168621,217,4.85,,1,,
329809,4168621,218,5.30,,2,,
808588,4168621,219,1.35,,3,,
691515,4168621,220,2.55,,4,18.2,
437290,4168621,222,4.50,5,0,,
618175,4168621,223,3.15,,1,,
154384,4168621,224,7.60,,2,,
287447,4168621,225,5.60,,3,,
41659,4168621,226,27.45,,4,48.3,
553682,4168621,229,3.65,6,0,,
721931,4168621,230,2.30,,1,,
367599,4168621,231,5.00,,2,,
433276,4168621,232,4.55,,3,,
213264,4168621,233,6.40,,4,,
654576,4168621,234,2.85,,5,,
781133,4168621,235,1.70,,6,,
439822,4168621,236,4.50,,7,,
767989,4168621,237,1.85,,8,,
227465,4168621,238,6.20,,9,,
731884,4168621,239,2.20,,10,,
485928,4168621,240,4.15,,11,,
366487,4168621,241,5.00,,12,,
687141,4168621,242,2.60,,13,52.95,7
485980,4168624,191,4.15,7,0,,
127966,4168624,192,8.60,,1,,
207228,4168624,193,6.50,,2,,
191409,4168624,194,6.75,,3,,